* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    margin-top: 60px;
    margin-bottom: 100px;
    padding-top: 60px;
    position: relative;
    background: #fff;
    border-radius: 130px 0 0 0;
    font-family: 'Pretendard', sans-serif;
}

.inner {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.big-title {
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 60px;
    color: #1a2e35;
}