* {
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 60px;
    margin-bottom: 100px;
    padding-top: 60px;
    position: relative;
    background: #fff;
    border-radius: 130px 0 0 0;
    font-family: 'Pretendard', sans-serif;
}

.inner {
    display: flex;
    justify-content: center;
}

.big-title {
    position: relative;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #1a2e35;
}

iframe {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

iframe::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}