body {
    background-color: rgba(70,130,165,1); 
    overflow: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.bold {
    font-weight: 700;
}

.content-box {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Pretendard', sans-serif;
}

.post-box {
    display: flex;
    align-items: center;
    border: 1px solid rgba(3,23,36,1);
    align-items: stretch;
    height: 100%;
}

.chat-select-container {
    width: 320px;
    background-color: rgba(3,23,36,1);
    border-right: 1px solid rgba(3,23,36,1);
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.chat-select-container a,
.chat-select-container button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

/* GPT 생성 버튼 */
.new-chat-btn {
    border: 1px solid hsla(0,0%,100%,.2);
    margin-bottom: .25rem;
    display: flex;
    flex-direction: row;
    border-radius: 8px;

}

.new-chat-btn-link {
    display: flex;
    padding-left: .75rem;
    padding-right: .75rem;
    min-height: 4rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
    align-items: center;
    gap: .75rem;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: .375rem;
    border-width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    flex-grow: 1;
    overflow: hidden;
    border-radius: .5rem;
    height: 2.75rem;
    background-color: transparent;
    border-color: hsla(0, 0%, 100%, .2);
    min-height: 0;
    height: 2.5rem;
    border-color: rgba(0, 0, 0, .1);
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.new-chat-btn-link:hover {
    background-color: hsla(240, 9%, 59%, .1);
}

.big-title {
    background-color: rgba(3,23,36,1);;
    color: rgba(142,142,160,1);
    font-size: .75rem;
    line-height: 1rem;
    padding-top: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.chat-list-box {
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex: 1 1 0%;
    gap: 10px;
    flex-direction: column;
    color: #ffffff;
    overflow-x: hidden;
    position: relative;
}

.chat-box {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    padding: 13px 12px;
    border: 1px solid rgba(32,33,35,.5);
    border-radius: 8px;
    gap: .75rem;
}

.gpt-name {
    overflow: hidden;
    word-break: break-all;
}

@-webkit-keyframes flash {
    0% {
        background-color: hsla(0, 0%, 100%, .4)
    }
}

@keyframes flash {
    0% {
        background-color: hsla(0, 0%, 100%, .4)
    }
}



.chat-box:hover {
    background-color: rgba(52, 53, 65, 1);
}

/* .chat-box {
    -webkit-animation: flash 2s steps(60, start);
    animation: flash 2s steps(60, start);
    background-color: rgba(52, 53, 65, 1);
} */


.chat-edit-btns {
    z-index: 10;
    right: .25rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    color: rgba(197,197,210,1);
}

.edit-btn {
    color: inherit;
}

.ai-profile {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.ai-profile img{
    height: auto;
    background-color: transparent;
}

.chat-thumb-text {
    margin-top: 4px;
    font-size: 15px;
}


/* 결제와 개인 프로필 */
.profile-box {
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    padding-top: 10px;
}

/* 결제 */
.plan-box-link {
    display: flex;
    padding-left: .75rem;
    padding-right: .75rem;
    min-height: 44px;
    padding-bottom: .25rem;
    padding-top: .25rem;
    align-items: center;
    gap: .75rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: .375rem;
}

.plan-box-link:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
}

.plan-box-inner {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.gold-new-button {
    display: flex;
    align-items: center;
    gap: .75rem;
}

/* 프로필 user-profile */

.user-profile-btn {
    display: flex;
    width: 100%;
    align-items: center;
    gap: .75rem;
    border-radius: .375rem;
    padding: .75rem;
    /* rounded-md text-sm transition-colors duration-200 */
}

.user-profile-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(52, 53, 65, var(--tw-bg-opacity));
}

.user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    position: relative;
}

.user-img img {
    filter: invert(1);
}

.user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    top: -1px;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.chat-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-main-container {
    max-height: 100%;
    overflow-y: scroll;
}

.contact-info {
    color: white;
    padding: 20px;
    border-bottom: 1px solid rgba(32,33,35,.5);
    justify-content: center;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.chat-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.chat-container::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(217,217,227,.8);
    border-color: rgba(255,255,255,var(--tw-border-opacity));
    border-radius: 9999px;
    border-width: 1px;
}

.message-box {
    display: flex;
    align-items: end;
    border-top: 1px solid rgb(31, 32, 37);
}

.message-box:first-child {
    border-top: none;
}

.from-me.message-box {
    background-color: transparent;
}

.from-you.message-box {
    background-color: rgba(3,23,36,0.5);
}

.from-me div {
    margin: 2rem 20rem;
}

.from-you div {
    margin: 2rem 20rem;
}

.message-text {
    height: fit-content;
    color: rgba(217,217,227,.9);
    width: 100%;
    /* max-width: 48rem; */
    line-height: 1.8;
}

.chat-input {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: none;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;

    max-width: 48rem;
    min-width: 42rem;

    position: relative;
    box-shadow: 0 0 transparent,0 0 transparent, 0 0 15px rgba(0,0,0,0.1);
}

.chat-input input {
    color: whitesmoke;
    background-color: rgba(3,23,36,0.5);
    width: -webkit-fill-available;
    display: block;
    border: none;
    resize: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    writing-mode: horizontal-tb;
    cursor: auto;
    padding-left: 1rem;
}

.chat-input input:focus {
    outline: none;
}

.chat-input button {
    right: .75rem;
    position: absolute;
    border:none;
    background-color: transparent;
    align-items: flex-start;
    box-sizing: border-box;
    padding: .75rem;
    border-radius: .375rem;
}

.chat-input button a {
    margin-right: 15px;
}

.chat-input img {
    opacity: .7;
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: invert(1);
}

.disable {
    display: none;
}


/* del-btn modal */
.black-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    position: fixed;
    background-color: rgba(86,88,105,.7);
    z-index: 1000;

    justify-content: center;
    display: flex;
    align-items: center;
}

.white-bg {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgba(32,33,35,1);
    border-radius: 5px;
    padding: 30px;
} 

.modal-btn {
    display: flex;
    gap: 15px;
}

.modal-btn button {
    color: rgba(217,217,227,1);
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}

.noshow {
    display: none; 
}

.del-title {
    color: rgba(217,217,227,1);
    font-weight: 700;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
}