.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
    padding: 14px 0;
}

.navi-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons a,
.user-buttons a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}