body {
    font-family: 'Pretendard', sans-serif;
}

.lite_dark .navi {
    background-color: rgb(0, 0, 0, .5);
}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
    padding: 14px 0;
}

.navi-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.logo {
    width: 6vw;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
}

.logo img {
    width: 100%;
    object-fit: contain;
}

.dark .logo img {
    filter: invert(100%);
}

.nav-buttons {
    display: flex;
    gap: 3vw;
}

.nav-buttons a:last-child {
    color: #3385FF;
}

.dark .nav-buttons a:last-child {
    color: #3385FF;
}

.dark .nav-buttons a,
.dark .user-buttons a {
    color: #fefefe;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 700;
}

.nav-buttons a,
.user-buttons a {
    color: black;
    text-decoration: none;
    font-size: 3vh;
    font-weight: 700;
}

.nav-buttons a:hover,
.user-buttons a:hover {
    text-shadow: -1px 0 skyblue, 0 1px skyblue, 1px 0 skyblue, 0 -1px skyblue;
}


.grade_button a:hover {
    text-shadow: none;
}