html,body{
    width: 100%;
    height: 100%;
}
.write-container{
    display: flex; 
    width: 100%; 
    height: 100%;
}
.description{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap:20px; 
    width: 40%;
    padding-left: 4em;
}
.title{
    font-size: 52px; 
    color:#254c76;
    font-weight: 500;
}
.sub-title{
    font-size: 24px; 
    font-weight: 800;
}
.write-form-container{
    width: 60%; 
    display:flex;
    justify-content: center;
    flex-direction:column;
    gap:3em;
    align-items:center;
}
.write-form-container>img{width: 100%;}
#gpt-name{
    width: 520px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-size: 40px;
}
.data-type1, .data-type2{
    font-size: 32px;
    border: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.type-select{
    background-color:#254c76;
    color: white;
}

#select-data{
    width: 520px;
    font-size: 32px;
    padding: 10px;
}

#form-submit{
    background-color:#254c76;
    width: 520px;
    padding: 5px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}