{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/center-write.css' %}">
    <title>Document</title>
</head>
<body>

    {% include 'nav.html' %}

    <div class="content">
        <h3 class="big-title">
            문의하기
        </h3>
        <div class="inner">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScohIPEPnSmCFzcjmP6QoTFDrZOJ0ZhfRuRxfRGdap8CaHHwQ/viewform?embedded=true" width="640" height="1140" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">로드 중…</iframe>
        </div>
    </div>
</body>
</html>