{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <title>Document</title>
</head>
<body class="dark">
    
    <div class="container">
    <div class="post-box">

        <!-- 채팅 선택창 -->
        <div class="chat-select-container">

            <!-- GPT 생성 버튼 -->
            <div class="new-chat-btn">
                <a class="new-chat-btn-link" href="http://{{domain}}/model/write/">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="icon-sm shrink-0" height="1em" width="1em">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    <span class="truncate">New Chat</span>
                </a>
            </div>

            <header class="big-title">
                <span>Oh! My GPT</span>
            </header>

            <li class="chat-list-box">
                {% for item in chat_list %}
                <a class="chat-box" onclick="initChat({{ item.id }}, '{{ item.model_id.model_name }}')">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" 
                            stroke-linecap="round" stroke-linejoin="round" class="icon-sm" height="1em" width="1em">
                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                    <span class="gpt-name">{{item.model_id.model_name | truncatechars:15}}</span>

                    <!-- 삭제 모달 -->
                    <div class="black-bg noshow">
                        <div class="white-bg">
                        <div class="del-title">삭제하시겠습니까?</div>
                        <div class="modal-btn">
                            <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete">
                            <button type="submit" class="grey">삭제하기</button>
                            </form>
                            <button id="close" class="grey">취소하기</button>
                        </div>
                        </div>
                    </div>

                    <!-- 수정 삭제 -->
                    <div class="chat-edit-btns">
                        <button class="edit-btn">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="icon-sm" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                        </button>
                        <button id="del-btn" class="edit-btn", onclick="deleteMessages({{item.id}})">
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="icon-sm" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                        </button>
                    </div>
                </a>
                {% endfor %}
            </li>

            <!-- 결제와 개인 프로필 -->
            <div class="profile-box">
                <!-- 결제버튼 -->
                <a class="plan-box-link" href="http://{{domain}}/payment/">
                    <span class="plan-box-inner">
                        <span class="gold-new-button">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="icon-sm shrink-0" height="1em" width="1em">
                                <path d="M8 256C8 119 119 8 256 8s248 111 248 248-111 248-248 248S8 393 8 256zm143.6 28.9l72.4-75.5V392c0 13.3 10.7 24 24 24h16c13.3 0 24-10.7 24-24V209.4l72.4 75.5c9.3 9.7 24.8 9.9 34.3.4l10.9-11c9.4-9.4 9.4-24.6 0-33.9L273 107.7c-9.4-9.4-24.6-9.4-33.9 0L106.3 240.4c-9.4 9.4-9.4 24.6 0 33.9l10.9 11c9.6 9.5 25.1 9.3 34.4-.4z"></path>
                            </svg>Upgrade to Plus
                        </span>
                    </span>
                </a>

                <!-- 개인 프로필 -->
                <div class="user-profile">
                    <button class="user-profile-btn" type="button">
                        <div class="user-img">
                            <img alt="User" loading="lazy" width="32" height="32" class="rounded-sm"
                                src="{% static 'img/ai-icon.svg' %}">
                        </div>
                        <div class="user-name">
                            <div class="font-semibold">{{user}}</div>
                        </div>
                    </button>
                </div>
                
            </div>
        </div>

        <!-- 채팅창 -->
        <div class="chat-main">
            <div class="chat-main-container">

            </div>

            <div class='chat-input disable'>
                <input type="text" class="chat-textarea" placeholder="메세지를 입력해주세요">
                <button onclick="sendMessage(event);">
                    <a onclick="startRecord();">
                        <img src="{% static 'img/mic.svg' %}" alt="">
                    </a>
                    <img src="{% static 'img/send.svg' %}" alt="">
                </button>
            </div>

        </div>
    </div>
    </div>

</body>
<script>
    //TTS
    function yuna_speak(innerMessage) {
        let innerText = innerMessage.innerText;

        let utterance = new SpeechSynthesisUtterance(innerText);
        utterance.lang = 'ko';
        utterance.voice = speechSynthesis.getVoices()[116];
        utterance.pitch= 0.8;
        speechSynthesis.speak(utterance);
    }
</script>
<script>
    //STT
    const searchConsole = document.getElementsByClassName("chat-textarea")[0];
    console.log(searchConsole);

    function availabilityFunc() {
    recognition = new webkitSpeechRecognition() || new SpeechRecognition();
    recognition.lang = "ko";
    recognition.maxAlternatives = 5;

    if (!recognition) {
        alert("현재 브라우저는 사용이 불가능합니다.");
    }
    }

    function startRecord() {
    recognition.addEventListener("result", function(e) {
        searchConsole.value = e.results[0][0].transcript;
    });

    recognition.start();
    }

    window.addEventListener("load", availabilityFunc);
</script>
<script>
    let chatSocekt = null;

    const MESSAGE_URI = "http://{{domain}}/chat/messages/";
    const MESSAGE_DEL_URI = "http://{{domain}}/chat/delete-messages/";
    const USER_ID = {{user_id}};

    let currChatId = '0'; 
    let target = [];

    async function initChat(chatId, modelName) {
        currChatId = chatId;
        await initNewWebSocket(chatId);
        makeNewChatDisplayAndGetPastMessages(chatId, modelName);
    }

    function getJWTToken() {
        return localStorage.getItem("access");
    }

    async function initNewWebSocket(chatId){
        const jwtToken = getJWTToken();
        chatSocket = await new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chatId
            + '/?token=' + jwtToken
        );
        
        // 소켓 연결시 호출
        chatSocket.onopen = function(e) {
            console.log(`chat socket ${chatId} connected`); 
        }

        // 소켓에서 메시지가 오면 호출
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatContainer = document.querySelector('.chat-container');
            
            let html = '';
            if (data.sender == 'user') { 
                html = getFromMeHtml(data.message); 
                chatContainer.insertAdjacentHTML('beforeend', html);
                
                const fromMeList = document.querySelectorAll('.message-box.from-me');
                const loadingElem = fromMeList[fromMeList.length-1];
                
                console.log("loadingElem");
                console.log(loadingElem);
                
                const imgHtml = '<img class="loading-img" src="/static/img/loading.gif" width="">';
                const messageText= loadingElem.querySelector('.message-text');

                console.log("messageText");
                console.log(messageText);

                messageText.innerHTML += imgHtml;
            
            } else { 
                html = getFromYouHtml(data.message); 
                chatContainer.insertAdjacentHTML('beforeend', html);
                const loadingImgs = document.querySelectorAll('.loading-img');
                console.log(loadingImgs); 
                for (let loadingImg of loadingImgs) {
                    loadingImg.remove();
                }
            }
            moveScrollToBottom();
        }

        // 소켓 종료시 호출
        chatSocket.onclose = function (e) {
            console.log('chat socket closed');
        };
    }

    // 스크롤을 최하단으로 내려주는 함수
    function moveScrollToBottom() {
        const chatContainer = document.querySelector('.chat-main-container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    function makeNewChatDisplayAndGetPastMessages(chatId, modelName) {
        newChatDisplayResolver(modelName);
        pastMessagesResolver(chatId);
    }
    
    // 새로운 채팅창을 만들어주는 함수
    function newChatDisplayResolver(modelName) {
        // 채팅창과 함께 input box 나오게
        const disableInput = document.getElementsByClassName('chat-input')[0];
        disableInput.classList.remove('disable');

        const chatMainContainer = document.querySelector('.chat-main-container');
        chatMainContainer.innerHTML = '';
        
        const outterDiv = document.createElement('div');
        chatMainContainer.appendChild(outterDiv);

        const contactInfo = document.createElement('div');
        contactInfo.classList.add('contact-info');
        
        const a = document.createElement('a');
        a.innerText = '나만의 GPT'; // TODO: GPT 이름 동적으로 바꾸기
        contactInfo.appendChild(a);
        outterDiv.appendChild(contactInfo);

        const chatContainer = document.createElement('div');
        chatContainer.classList.add('chat-container');
        outterDiv.appendChild(chatContainer);

        showModelName(modelName);
    }

    function showModelName(modelName) {
        const modelNameElem = document.querySelector(".contact-info a");
        console.log(modelNameElem);
        console.log(modelName);
        modelNameElem.innerText = modelName;
    }

     // 이전의 메시지를 불러오는 함수
    async function pastMessagesResolver(chatId) {
        const response = await fetch(MESSAGE_URI + chatId, {
            method: 'GET',
            headers: {'X-CSRFToken': "{{csrf_token}}"}
          }
        );
        const result = await response.json();
        drawMessageResolver(result);
        moveScrollToBottom();
    }

    function drawMessageResolver(result) {
        const chatContainer = document.querySelector('.chat-container');
        chatContainer.innerHTML = '';
        let html = '';
        for (let item of result) {
            if (item.is_user == true) {
                html += getFromMeHtml(item.content);
            } else {
                html += getFromYouHtml(item.content);
            }
        }
        chatContainer.insertAdjacentHTML('beforeend', html);
    }

    function getFromYouHtml(message) {
        return `
        <div class="message-box from-you" onclick="yuna_speak(this);">
            <div class="message-text">${message}</div>
        </div>
        `;
    }

    function  getFromMeHtml(message) {
        return `
        <div class="message-box from-me" onclick="yuna_speak(this);">
            <div class="message-text">${message}</div>
        </div>
        `;
    }

    // 사용자의 메시지를 전송하는 함수
    function sendMessage() {
        event.preventDefault(); // 기본 이벤트 동작을 중단

        const messageInputDom = document.querySelector('.chat-textarea');
        const message = messageInputDom.value;
        console.log(message);
        chatSocket.send(JSON.stringify({
          'type': 'chat_message',
          'message': message,
          'sender': USER_ID, 
          'from' : 'user'
        }));
        messageInputDom.value = '';
    }

    // 모든 채팅방 메시지를 삭제하는 함수
    async function deleteMessages(chatId) {
        const response = await fetch(MESSAGE_DEL_URI + chatId, {
            method: 'DELETE',
            headers: {'X-CSRFToken': "{{csrf_token}}"}
          }
        );
        const result = await response.json();
        alert("메시지가 성공적으로 삭제되었습니다.");
    }

    // AI 모델 이름을 수정하는 함수
    // function updateAIModelName() {
    //     
    // }

</script>
</html>