{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <title>Document</title>
</head>
<body>
    
    {% include 'nav.html' %}
    
    <div class="content-box">
        <div class="container">
        <div class="post-box">

            <!-- 채팅 선택창 -->
            <div class="chat-select-container">

            <!-- 채팅 리스트 -->
            <div class="chat-list-box">
                <!-- 봇 -->
                {% for item in chat_list %}
                <div class="chat-box" onclick="initChat({{ item.id }})"> 
                <div class="ai-profile">
                    <img src="{% static 'img/ai-icon.svg' %}" alt=""> <!-- TODO: AI 프로필 이미지 -->
                </div>
                <div>
                    <p class="bold">{{item.model_id.model_name}}</p>
                    <p class="chat-thumb-text">{{item.last_message}}</p>
                </div>
                </div>
                {% endfor %}
            </div>
            </div>

            <!-- 채팅창 -->
            <div class="chat-main-container"></div>
        </div>
        </div>
    </div>

</body>
<script>
    let chatSocekt = null;
    const MESSAGE_URI = "http://52.78.40.84:80/chat/messages/";

    let currChatId = '0'; 

    async function initChat(chatId) {
        currChatId = chatId;
        await initNewWebSocket(chatId);
        makeNewChatDisplayAndGetPastMessages(chatId);
    }

    function getJWTToken() {
        return localStorage.getItem("access");
    }

    async function initNewWebSocket(chatId){
        const jwtToken = getJWTToken();
        chatSocket = await new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chatId
            + '/?token=' + jwtToken
        );
        
        // 소켓 연결시 호출
        chatSocket.onopen = function(e) {
            console.log(`chat socket ${chatId} connected`); 
        }

        // 소켓에서 메시지가 오면 호출
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const chatContainer = document.querySelector('.chat-container');
            
            let html = '';
            if (data.sender == 'user') { 
                html = getFromMeHtml(data.message); 
            } else { 
                html = getFromYouHtml(data.message); 
            }
            chatContainer.insertAdjacentHTML('beforeend', html);
            moveScrollToBottom();
        }

        // 소켓 종료시 호출
        chatSocket.onclose = function (e) {
            console.log('chat socket closed');
        };
    }

    // 스크롤을 최하단으로 내려주는 함수
    function moveScrollToBottom() {
        const chatContainer = document.querySelector('.chat-container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    function makeNewChatDisplayAndGetPastMessages(chatId) {
        newChatDisplayResolver();
        pastMessagesResolver(chatId);
    }
    
    // 새로운 채팅창을 만들어주는 함수
    function newChatDisplayResolver() {
        const chatMainContainer = document.querySelector('.chat-main-container');
        chatMainContainer.innerHTML = '';
        
        const outterDiv = document.createElement('div');
        chatMainContainer.appendChild(outterDiv);

        const contactInfo = document.createElement('div');
        contactInfo.classList.add('contact-info');
        
        const a = document.createElement('a');
        a.innerText = '나만의 GPT'; // TODO: GPT 이름 동적으로 바꾸기
        contactInfo.appendChild(a);
        outterDiv.appendChild(contactInfo);

        const chatContainer = document.createElement('div');
        chatContainer.classList.add('chat-container');
        outterDiv.appendChild(chatContainer);

        const form = document.createElement('form');
        form.classList.add('chat-input');
        
        const input = document.createElement('input');
        input.classList.add('chat-textarea');
        input.placeholder = '메세지를 입력해주세요';
        form.appendChild(input);

        const button = document.createElement('button');
        button.setAttribute('onclick', 'sendMessage(event)');
        const img = document.createElement('img');
        img.src = "{% static 'img/send.svg' %}";
        button.appendChild(img);
        form.appendChild(button);

        chatMainContainer.appendChild(form);
    }

     // 이전의 메시지를 불러오는 함수
     async function pastMessagesResolver(chatId) {
        const response = await fetch(MESSAGE_URI + chatId, {
            method: 'GET',
            headers: {'X-CSRFToken': "{{csrf_token}}"}
          }
        );
        const result = await response.json();
        drawMessageResolver(result);
    }

    function drawMessageResolver(result) {
        const chatContainer = document.querySelector('.chat-container');
        chatContainer.innerHTML = '';
        let html = '';
        for (let item of result) {
            if (item.is_user == true) {
                html += getFromMeHtml(item.content);
            } else {
                html += getFromYouHtml(item.content);
            }
        }
        chatContainer.insertAdjacentHTML('beforeend', html);
    }

    function getFromYouHtml(message) {
        return `
        <div class="message-box from-you">
            <div class="message-text">${message}</div>
            <p class="read-check">&bull;</p>
        </div>
        `;
    }

    function  getFromMeHtml(message) {
        return `
        <div class="message-box from-me">
            <p class="read-check">&bull;</p>
            <div class="message-text">${message}</div>
        </div>
        `;
    }

    // 사용자의 메시지를 전송하는 함수
    function sendMessage() {
        event.preventDefault(); // 기본 이벤트 동작을 중단

        const messageInputDom = document.querySelector('.chat-textarea');
        const message = messageInputDom.value;
        console.log(message);
        chatSocket.send(JSON.stringify({
          'type': 'chat_message',
          'message': message,
          'from' : 'user'
        }));
        messageInputDom.value = '';
    }

</script>
</html>