{% load static %}
<nav>
    <div class="navi">
        <div class="navi-inner">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>
            </div>
            <div class="nav-buttons">
            <a href="{% url 'intro' %}">
                OMG 소개
            </a>
            <a href="{% url 'payment' %}">
                요금안내
            </a>
            <a href="{% url 'center_write' %}">
                고객센터
            </a>
            <a href="{% url 'chat' %}" style="color: #085E9C;">
                나의 GPT
            </a>
            </div>
            {% if  user.is_authenticated %}
            <div class="user-buttons logout-buttons">
                <a href="{% url 'logout' %}">로그아웃</a>
            </div>
            {% else %}
            <div class="user-buttons">
                <a href="{% url 'login' %}">로그인</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>