<nav>
    <div class="navi">
        <div class="navi-inner">
            <div class="logo">
                <img src="" alt="logo">
            </div>
            <div class="nav-buttons">
            <a href="#">
                버튼1
            </a>
            <a href="#">
                버튼2
            </a>
            <a href="#">
                버튼3
            </a>
            </div>
            <div class="user-buttons">
                <a href="#">로그인</a>
            </div>
        </div>
    </div>
</nav>