{% load static %}
<nav>
    <div class="navi">
        <div class="navi-inner">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>
            </div>
            <div class="nav-buttons">
            <a href="{% url 'intro' %}">
                OMG 소개
            </a>
            <a href="{% url 'payment' %}">
                요금안내
            </a>
            <a href="{% url 'center_write' %}">
                고객센터
            </a>
            <a href="{% url 'chat' %}">
                나의 GPT
            </a>
            </div>
            {% if  user_id %}
            {% if user_grade == 0 %}
            <div class="user-buttons">
                <a>BASIC</a>
            </div>
            {% elif user_grade == 1 %}
            <div class="user-buttons">
                <a>PRO</a>
            </div>
            {% elif user_grade == 2 %}
            <div class="user-buttons">
                <a>PRO_PLUS</a>
            </div>
            {% elif user_grade == 3 %}
            <div class="user-buttons">
                <a>ENTERPRISE</a>
            </div>
            {% endif %}

            <div class="user-buttons logout-buttons">
                <a href="{% url 'logout' %}">로그아웃</a>
            </div>
            {% else %}
            <div class="user-buttons">
                <a href="{% url 'login' %}">로그인</a>
            </div>
            {% endif %}

        </div>
    </div>
</nav>