{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/payment.css' %}?{% now "U" %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}?{% now "U" %}">
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="{% static 'js/payment_call.js' %}"></script>
    <title>요금 안내</title>
</head>
<body>
    {% include 'nav.html' %}

    <div class="main">
        <div id="banner">
            <p class="title">내게 맞는 OMG 요금제 선택하기</p>
        </div>
        <div class="tiers-container">
            <div class="tier">
                <div class="tier-inner">
                    <div class="tier-inner-div"><p>권장</p></div>
                    <h1>OMG Pro</h1>
                    <div class="tier-inner-detail">
                        <p>&bull;제공 기능 소개</p>
                        <p>&bull;제공 기능 소개</p>
                    </div>
                </div>
                <button class="pay-button" id="omgpro">$9.9 / 월</button>
            </div>
            <div class="tier">
                <div class="tier-inner">
                    <div class="tier-inner-div"></div>
                    <h1>OMG Pro+</h1>
                    <div class="tier-inner-detail">
                        <p>&bull;제공 기능 소개</p>
                        <p>&bull;제공 기능 소개</p>
                    </div>
                </div>
                <button class="pay-button" id="omgproplus">$49.9 / 월</button>
            </div>
            <div class="tier">
                <div class="tier-inner">
                    <div class="tier-inner-div"></div>
                    <h1>OMG Ent</h1>
                    <div class="tier-inner-detail">
                        <p>&bull;제공 기능 소개</p>
                        <p>&bull;제공 기능 소개</p>
                    </div>
                </div>
                <button class="pay-button" id="omgenterprise">$99.9 / 월</button>
            </div>
        </div>
    </div>
</body>
</html>